.card_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
}

.image {
  width: 100%;
  height: 156px;
  border-radius: 5px;
  object-fit: cover;
}
